@media  screen and (max-width:768px) {
    .md-mt-0{
        margin-top: 0 !important;
    }
    .md-mt-1{
        margin-top: 1rem !important;
    }

    .md-mt-2{
        margin-top: 2rem !important;
    }
    .md-mt-3{
        margin-top: 3rem !important;
    }
    .md-mr-0{
        margin-right: 0 !important;
    }
}