
   :root {
 
    --bs-orange: #ff523b; 
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-default : #555;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --font-heading-scale: 1.0;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: 
         url('/fonts/Lato-Regular.ttf'),
         url('/fonts/Lato-Bold.ttf'),
         url('/fonts/Lato-Italic.ttf') 
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

a,p,label,span{
    text-decoration: none;
    color: var(--bs-default);
}
h1{
    color :var(--bs-dark);
    font-weight: lighter;
    font-size: 1.7rem;
}
.html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    position: relative; 
    background-color: #fff !important;
 
  
}

#flex{
    display: flex;    
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #fff !important;
    
} 









/* --- homepage header image ---- */


.row{
    display: flex;
    align-items: center;   
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
  
}
.col-2 img{ 
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;

}


.col-1 p{
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.col-1 h1{
    font-size: 50px;
}


.homepage{
    position: relative;
    width: 100% !important;
    height: calc(100vh - 90px);
    padding: 0 !important;  
    background-image: url(../../assets/img/hero.jpg); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

.homepage img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:500px) {




    .homepage{
        padding: 0px !important;
    }

    .row {
        position: relative;
        display: block;

    }

    .row .col-1{
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }

    .row .col-1 p, .row .col-1 h1  {
        color: #1E1E1E;
    }

    .col-1 h1{
        font-size: 30px;
    }

    .col-2{
        width: 100%;
        overflow: hidden;
    }

    .row .col-2 img{
        margin-left:50%;
    }
    
}



.category{
    
    border: solid 1px #eee;  
    flex-basis: 30%;
    margin-bottom: 30px;
    position: relative;
    padding: 0;
}

.category p{
   position:absolute;
   top: 20px;
   left:20px;
}

.category img{ 
  width: 100%;
  margin: 0px;  
}

.product-nav h1{
    font-size: 24px;    
}


.product-nav nav ul li a:first-child{    
    padding-left: 0px; 
}

.product-nav  nav ul li a:hover{
    color: #555;
    text-decoration: underline;  
   
}

.product-nav nav{
    margin-top: 20px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productPage .ul-product-categories li{

    margin-right: 10px;
}

.productPage .ul-product-categories li a.active{
   text-decoration: underline !important;
}


/* product page css */



.product-detail-wrapper{
    width: 100%;
}

.product-detail-wrapper a,
.product-detail-wrapper span{
    font-size: 15px;
    color: #999;
} 


.product-detail-wrapper label{
    font-size: 15px;
    color: #666;
    font-weight: bold;  
}

.product-detail-wrapper a:hover{
    text-decoration: underline;
    color: var(--bs-dark);
}

.add-wishlist-wrapper{
   display: flex;
   width: 30px;
   justify-content: flex-end;
}

.add-wishlist-wrapper span{
    font-size: 15px;
    color: #999;
}

.add-wishlist-wrapper span:hover{
    color: #ff523b;
}




.product-detail li{
    list-style: none;
    display: block;
    margin-bottom: 20px;
  
}

.product-detail li a.title{
    font-size: 1rem;
    line-height: 1.466667;   
    
  }

.product-detail li a:hover{
  text-decoration: underline;  
}

.product-detail p.price{
    font-size: 1rem;
    font-weight: bold;
}

.product-detail .add-to-cart{
    display:block;
    background: #fff;
    color: #555;
    padding:8px 20px;  
    border: 1px solid #eee;
    text-align: center;
  
}
.product-detail .add-to-cart:hover{
    background: #2e2e2e;
    color: #eee;
}

.sm-visible{
    display: none;
}



.nav-button button{
    background: #eee;
    color: #555;
}

.nav-button button:hover{
    background: #2e2e2e;
    color: #eee;
}

.rate-stars li{ 
    list-style: none;
    display: inline-block;
    margin-left: 3px;
}

.rate-stars i{
    font-size: 1rem;
    color: #ff523b;
}



#filter-wrapper{
    display: none;
    opacity: 0;

}

#filter-wrapper.visible{
    display: block;
    opacity: 1;
   
}

.filter{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 15px;
    background: #eee; 
}

.filter p{
    font-size: 14px;
    font-weight: bolder;
}

.filter ul {
    margin-top: 10px;
}

.filter ul li{
    list-style: none;
    margin-top: 2px;
}

.filter ul li a:hover{
    color: #ff523b;
    text-decoration:underline;
}

.filter .tags{
    margin-top: 20px;
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;    
    align-items: flex-start;
    
}

.filter .tag{
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 10px;   
    background:#fff;
    color: #555;
    
}


.filter .tag:hover{
    background: #2e2e2e;
    color: #fff;
}


.filter-search-container{
    display: flex;
}
.search-in-page{
    display: flex;        
    border: 1px solid #eee; 
    align-items: center;
    margin-right: 5px;
}

.search-in-page:hover{
    border: 1px solid #666 !important; 
}
.search-in-page label{
    margin:0px 10px;
    color:#555;
    
}

.search-in-page input[type="text"]{
    width: 200px;
    border: 0px;
    text-align: left;
    color: #555;
}





.search-in-page button{
   background:transparent;
   color: #555;
   outline: none;
   border: 0 !important;
   border-radius: 0 !important;
  
  
}

.search-in-page button:hover{
    background: #555;
    color: #fff;
}










.product-preview{
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around; 
}


.shopnow{   
    display: block;
    position: absolute;
    background: #eee;
    color: #555;    
    text-align: center;
    padding:1rem 4px;
    padding-left: 1rem;
    top: 50%; 
    left: 50%;
    transform: translateX(-50%); 
    letter-spacing: 1rem;
}
.shopnow:hover{ 
    background: #1E1E1E;
    color: #fff;   
}
/*-- checkout -- */
.checkout-tr td:first-child{
   width: 50%;
}

.checkout-tr img{
    width:70px;
 }


/*--- Shipping --- */

.shipping-wrapper{
    width: 100%;    
}

.shipping-wrapper .shipping{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border:  solid 1px #eee;
    padding: 10px 20px;
}

.shipping-heading{
    display: flex;
    justify-content: space-between;
}
.shipping-heading span:hover{
    cursor: pointer;
    text-decoration: underline;
}

.shipping-body{
    padding-top: 10px;
}

.panel{
    display: block;
    border: solid 1px #eee;
    background: #fff;
    width: 100%;   
    padding: 20px; 
}
.panel-padding{
   padding:20px;
}

.billing{
    flex-basis: 400px;
}
.billing h3{
    margin-bottom: 20px;
}
.shipping-table{
    width: 100%;
    border-collapse: collapse;
}
.shipping-table thead {
    border-bottom: dashed #000 2px !important;
}
.shipping-table tr th{
    padding: 10px 0px;
    font-size: 1rem;
    text-align: left;
    vertical-align: top;
    color: #555;
    
}
.shipping-table tr th p{
    margin-top: 10px;
    font-size: 1rem;
    padding: 5px 0px; 
}

.shipping-table tr{
    border-bottom: dashed #eee 2px;
}

.shipping-table tr:last-child{
    border-bottom: none;
}

.shipping-table tr th select{
    font-size:1rem;
    border:1px solid #eee;
    padding: 5px;
    width: auto;
}

.checkout{
    display: block !important;
    background: #1E1E1E;
    color: #fff;
    border-radius: 20px;
}

.payment-option{
    width: 48%;
    height: 60px;
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    transition: all 500ms ease-in;
}

.payment-option.selected{
    border-color: #555;
}

.paymeny-option:hover{
    border-color: #555;
}






















.right{
    float: right;
}

.left{
    float: left;
}








.no-border{
    border: 0 !important ;
}


.panel{

    display: block;
    border: solid 1px #eee;
    background: #fff;
  
    
}





.pagetitle{
    margin: 3rem 0px;
    
}







/* ---content Page---- */

.content-page{
    width: 100%;   
}

.content-page h1{
    text-align: center;
    font-size: 40px;
  
    font-weight: bolder;
}

.content-image-about{
    display: flex;
    background-image: url('/img/front/about.jpg');
    background-position: left;
    background-size: 100% 100%;
    height: 220px;
    align-items: center;
    justify-content: center;
}
.content-image-contact{
    display: flex;
    background-image: url('/img/front/contact.jpg');
    background-position: left;
    background-size: 100% 100%;
    height: 220px;
    align-items: center;
    justify-content: center;
}



/* ---end content Page---- */



.contactinfo{
     width: 50%;
     border-left: 1px solid #ddd;
     padding-left: 20px;
     min-height: 400px;
  
}


.contactinfo .info{
    margin-bottom: 30px;
}

.contactinfo .info h3{
    margin-bottom: 10px;   
}

.contactinfo .info p{
    color: #555;
    font-size: 1rem;
}




.separator{
    border:1px dashed #eee;
}

























.image-container{
    overflow: hidden;
    position: relative;
   
}

.image {
    
    width: 100%;   
    display: inline-block;
    vertical-align: middle;
    transition: transform 1s ease-in-out;
}

.image:hover{
    transform: scale(1.2);
   
}

.image-sm{
    width: 70px;
    height: 50px;
}

.about-column:last-child{
    margin-bottom: 100px;
}


.sign-page{
    width: 320px;
    margin: 0 auto;
}

.register-page{
    width: 320px;
    margin: 110px auto;
}

.register-page .panel, .sign-page .panel{
    padding: 20px;
}

.register-page h3, .sign-page h3{
    font-size: 20px;
}




.form-registraion{

    padding: 15px 0px;

}
.form-registraion li{
    list-style: none;
    display: inline;
    text-decoration: none;
}



.form-registraion li:last-child{
    margin-left: 0px;
}

.form-registraion li a{
    padding: 15px 20px;
    margin-top: 2px;
}

.form-registraion li a.active{
    background: #1E1E1E;
    color: #fff;
}




.dash-line{
    margin-top: 10px;
    padding: 0px 10px;
    display:block;
    border: 1px dashed #eee;
}



@media screen and (max-width:500px){

    .page{
        margin: 50px 20px;
        
    }
    .pageleft{
        display: none;
    }
    .pageright{
        flex-basis: 100% !important;
    }
}














.contact-form {
    width: 500px;
}
.contact-form form{

    margin-top: 20px;
}


/* --- form-block --- */

.form-block{
    margin-bottom: 20px;
}

.form-block label{   
    padding:5px 0px;
}



.form-block input[type="text"],
.form-block input[type="username"],
.form-block input[type="email"],
.form-block input[type="password"],
.form-block input[type="number"],
.form-block input[type="date"],
.form-block textarea,
.form-block select{
        width: 100%;
  
}

textarea{
    padding: 10px;
}
textarea:focus{
    outline: none;
    border-color:#eee;
}


/* --- .form-inline --- */
.form-inline{
    display: flex;   
    align-items: center;  
}

.form-inline label{
    font-size: 1rem;
}
.form-inline select, .form-inline button,  .form-inline input[type="sumbit"] {
    margin-left: 20px;
}



/* ---  form-inline-group --- */
.form-inline-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-inline-group .form-block{
    
    flex-basis: 49%;
    margin-bottom: 0px;
}

select{
    border:1px solid #eee;
    padding: 5px;
    font-size: 12px;
    width: 200px;
}

select[type="option"]{
    padding: 5px; 
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance:none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


 input[type="text"], 
 input[type="email"],
 input[type="number"],
 input[type="username"], 
 input[type="password"],
 .form-block input[type="date"],
 textarea,
 select{    
    outline: none;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;    
}


.form-group{
    display: flex;    
}

.form-group button{
    background: #fff;
    color:#1E1E1E
}


.form-group  input[type="text"]{
    width: 50px;
    
}



p {
    line-height: 1.2;
    word-spacing: 3px;
   
}



@media  screen and (max-width:500px){
    .separator{
        display: none;
    }

    .contactinfo{
        margin-left: 15px;
    }
}


.view-button {
    width: 200px;
}

.view-button button{
    width: 100%;
    margin-bottom:10px;
}


.account-page{    
    
    width: 100%;    
    margin: 50px 0px;
     
}
.account-page-navigation{
    display: flex;
    justify-content: flex-end;
}
.account-page-navigation ul li{
    list-style: none;
    display: inline;

}

.account-page-navigation ul li a{
    background: none;
    border: 0;
   
}

.account-page-navigation ul li a span{
    margin-right: 10px;
}

.account-page-content{

    flex-basis: 80%;


}


.account-page-content h1{
   font-size: 24px;
}

.profile-content{    
    margin:10px auto;  
    padding: 20px; 
    flex-basis: 70%; 
}

.account-info{
    margin-top:20px;
}

.account .parent-card{
    min-height: 354px;
    padding: 1rem 2rem;

}

.card-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
}

.card-wrapper .card{
    width:330px;
    padding: 0 !important;
    min-height: 120px !important;
    flex-direction: row !important;
    flex-wrap: nowrap;
   
}

.card-wrapper .card .card-num{
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    word-wrap: break-word; 
}

.card-wrapper .card .card-num label{
    font-size: 4rem;
    word-wrap: break-word;
    
}

.card-wrapper .card .card-title{
    width: 110px;
    justify-content: space-around;
    display: flex;   
    flex-direction: column;
 
   
}

.card-wrapper .card .card-title label{  
    align-self: center;
    font-size: 1.2rem;
    
}

.card-wrapper .card .card-title span{  
    font-size: 3rem;
    align-self: center;
  
}





























.address-content{
   
  padding: 20px;
    
  
    
}

.address-content .row{
    margin-top: 20px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;

}
.add-address{
    margin-top: 20px;
}




table input[type="checkbox"]{
     width: 30px !important;
}
a.delete{
    color: #EC7063;
}
.edit{
    color:#3498DB;
}

.navigition-header{
    padding: 20px 10px;
}
.navigition-header p{
    text-align: center;
}
.line-dashed{
    margin: 0 20px;
    border: 1px dashed #eee;
}

/* -- wishlist -- */
.wishlist{   
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width:450px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.wishlist-image{
    position: relative;
    width: 140px;
    height: 140px;
}


.wishlist-image img{
    width: 100%;
    height: 100%;   
}

.wishlist-detail{
    width: calc(100% - 140px);
    padding: 10px;
}
.wishlist-detail p , .wishlist-detail a {
    display: block;
    margin-bottom: 5px;
}

.wishlist-image:hover .wishlist-image-overlay{
    display: flex;
}


.wishlist-image .wishlist-image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    

}

.wishlist-image .wishlist-image-overlay a{
  font-size: 20px; 
}

.wishlist-table tr th{
    height: 50px;
   
}
.wishlist-table tbody tr:hover{
    background:none !important;
    border-color:none !important;
}




/* --- orders --- */


.orders-wrapper ul li{
   
    display: inline-block;
    width: 20%;
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid #fff;
    transition: ease-in 500ms;
    
}

.orders-wrapper ul li.active{
    border-color: #ff523b;
}

// .orders-wrapper ul li:hover{
//     border-color: #ff523b;
// }
// .orders-wrapper ul li:hover a{
//     color: #ff523b;
// }

.order-navigation{
    width: 100%;
    background-color: #fff;
    display: flex;

}

.orders{
    display: block;
    width: 100%;
}

.order{  
 
    width: 100%;
    min-height: 100px;
    background-color: #fff !important;
    border: 1px solid #eee; 
    margin-bottom: 10px;   
    
}
.order-header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding:  10px 20px;
    border-bottom: 1px solid #eee;
}

.order-body{
   display: block;
}

.order .details{
   margin-left: 10px;    
}
.order-status{
    padding: 5px 10px;
    background-color:#ff523b;
    color: #fff;
    border-radius: 10px;
}

.order a{
   margin-right: 20px;
   color: #3498DB;
   text-transform: uppercase;     
 }

 .order-number{
     color: #3498DB;
 }


.order-wrapper{
    border-bottom: 1px solid #eee;
}

.order-item{
    display: flex;
    padding: 20px;
   
    

}
                                                            
.order-item-name{
   width: 50%;
}
.order-item-price,
.order-item-quantity,
.order-item-write-review{
   width: 20%;
}

.item-main {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding: 10px;
   
}
.item-image{
    position: relative;
    width: 70px;
    height: 70px;
    
}
.item-image img{
    width: 100%;
    height: 100%;
}



.order-detail-wrapper{ 
    width: 50%;
    background-color: #fff;
    margin-top: 20px;
    padding: 10px;
}
.order-summary{
    display: flex;
    flex-direction: column;
}

.order-title p{
    font-size: 1.2rem;
}
.shipping-detail{
    display: flex;
    flex-direction: column;
  
}

.shipping-detail span , .order-summary span {
    margin-bottom: 10px;
}
.order-images{
    width: 300px !important;
}

.order-item-image{
    width: 75px;
    height:75px;
    background: #eee;
    overflow: hidden;
}

.order-item-image img{
    width: 100%;
    height: 100%;
}





.search-close{
    margin-top: 72px;
    margin-left: 20px;
    font-size: 25px;
    color:#fff;
    cursor: pointer;
}
.login-register-wrapper{ 
    min-height: 600px; 
    display: flex;
    justify-content: center;

  
    

}
.storeLogo{
    width: 900px;
    height: 500px;
 
   
}

.storeLogo h1{
    font-size: 4rem;
}

.storeLogo h2{
    font-size: 3rem;
    margin-left: 30rem;
}

.login-register{   
    padding: 30px;
}

.login-register{ 
    width: 30rem;
    margin-top: 3rem;
    background: #fff;
    border-radius: 5px;
    
   
}
.login-register-content{
    padding: 0px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.5);

    
}
.login-register-header{ 
    position: relative; 
   
}




.login-register-header h1{
    display: block;
    text-align: center;
    font-weight: bold;
    color: #444;
    font-size: 2rem;
    padding: 5px;
}

.login-register-header .p{
    margin-top: 10px;
    text-align: left;
}
.login-register-icons{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}




.login-register-social-button{
    width: 100%;   
    background: #fff;
    color: #495057;
}

.login-register-social-button span{
    margin-right: 5px;
}

.login-register-body{
   padding: 0px;
}
.login-register-body .form{
    margin-top:20px;
}

.login-register-body .form input[type="text"]:hover,
.login-register-body .form input[type="username"]:hover,
.login-register-body  .form input[type="email"]:hover,
.login-register-body  .form input[type="password"]:hover
{
    border: 1px solid #2e2e2e; 
}


.login-register-body .form input:focus{
    outline:none;
    border: 1px solid #2e2e2e;
}

.login-register-body .form button{
    width: 100%; 
    background:#2e2e2e;
    color: #fff;
    padding: 12px;
    border-radius: 0px;   
}

.login-register-body ul{
    margin-top: 10px;

}

.login-register-body ul li{
    list-style: none;
    display: block;
    text-align: center;
   
}

.login-register-body ul li a{
   color: #3498DB;
   cursor: pointer;
   
}

.login-register-body > span{
    display: block;
    text-align: center;
}

.login-register-footer{
    padding: 20px;
    background: #eee;
    text-align: center;
}

.checkbox{
    display: flex; 
    flex-direction: row;
    align-items: center;    
}

.checkbox input{
    width: auto !important;
}

.checkbox label{
    margin-top: -2px;
    margin-left: 5px;

}

.login-register-link{
    cursor: pointer;  
    display: block;
    text-align: center;      
}

.login-register-link:hover{
   text-decoration: underline;      
}



/* --- tabs --- */

.tabs-content{
    display: none;
    
}

.tabs-content-active {
    display: block;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 .alert{
    font-size: 16px;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;   
 }

 .alert-text{
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;
 }

 .alert-success{     
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    
 }
 
 .alert-primary{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
 }
.alert-danger{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-text-danger{
    color: #dc3545;
}
.text-primary{
    color: #007bff
}

.link-danger{
    color: #dc3545;
}

.link-success{
    color:  #155724;
}

.link-primary{
    color: #007bff
}
.text-white{
    color:  var(--bs-white)  !important;
}
.text-danger{
    color: #dc3545 !important;
}








.link-dark{
    color: #212529;
}

 .form-input{
    margin-bottom: 15px;
 }

 .form-input .alert{
     margin-top: 10px;
 }
.form-group-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid #eee;
}

.form-group-input:hover{  
    border-color: #212529;
}

.form-group-input span{
    color: #777;
}

.form-group-input input,  .form-group-input input:hover{    
    border: 0 !important;
}

.form-group-input input:focus  .form-group-input{   
    border-color: #212529;
 }

 .users-edit{
    color: #3498DB;
    font-size: 14px;
    cursor: pointer;
 }

 .div-flex{
     display: flex;
    
 }

 .avatar-container{
     position: relative;
   
 }

 .avatar{
     position: relative;
     width: 250px;
     height: 250px;
     border-radius: 50%;
     background-color: #ddd;
     overflow: hidden;
 }

 .avatar img{
     width: 100%;
     height: 100%;

    
 }

 .avatar-container button{
     position: absolute;
     right: 20px;
     bottom:20px;
     width: 50px !important;
     height: 50px;
     border-radius: 50%;
     border: 0;
     font-size: 20px;
     background-color: #ddd !important;
     color: #555 ;
    
 }

 
 .avatar-container button i{
    color: #555 ;
   
}




 .profile ul{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 30px;
 }

 .profile ul li {
     list-style: none;
     display: inline-block;
     text-align: center;
     margin: 0 auto;
 }

 .profile ul li a p{
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
 }

 .p-count {
     font-size: 16px;   
     color: #EC7063;
 }
.p-button{
    margin-top: 30px;

}

.p-button button{
    margin-bottom: 10px;
}
 .profile button{
    width: 100%;
    text-align: center;
    background-color: #3498DB;
    color: #fff;
    font-weight: bold;
 }

 .user-btn-group{
     display: none;
 }

 .w-0{
     width: auto !important;
 }

 .w-12{
     width: 100%;
 }

 .w-6{
     width: 50%;
 }


 .w-9{
     width: 66.66667%;
 }


 .w-3{
     width: 33.33% !important;
 }

 .w-2{
    width: 16.66%;
}
.w-100{
    width: 100px;
}
.w-150{
    width: 150px;
}
.w-200{
    width: 200px;
}

.w-400{
    width: 400px;
}

.w-300{
    width: 300px;
}
.w-450{
    width: 450px;
}

.w-500{
    width: 500px;
}

.w-800{
    width: 800px;
}

.w-900{
    width: 900px;
}

.w-1000{
    width: 1000px;
}

.h-300{
    height: 300px !important;
}

.bg-white{
    background: #ffffff !important;
}
.bg-danger{
    background: var(--bs-danger);
    color: #fff;
}

.bg-grey{
    background: #f5f5f5 !important;
}

.bg-orange{
    background: #ff523b !important;
}

.bg-grey-hover:hover{
    background: #f8f8f8 !important;
}
.bg-teal{ background:  #20c997 !important;}

.bg-warning{ background:  #ffc107  !important;}


.dark{
    background: #1E1E1E !important;
    color: #fff !important;
}

.p-b-13 {
    padding-bottom: 13px;
}



.bor12 {
    border-bottom: 1px dashed #d9d9d9;
}

.border-b-solid {
    border-bottom: 2px solid #f5f5f5;
}

.text-50{
    font-size: 50px !important;
}

.text-xs{
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
}
.text-sm{
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

.text-base {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}

.text-lg{
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}

.text-xl{
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}
.text-2xl{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}
.text-3xl{	
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}
.text-4xl {	
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}
.text-5xl {
    font-size: 3rem; /* 48px */
    line-height: 1;
}
.text-6xl{
    font-size: 3.75rem; /* 60px */
    line-height: 1;
}
.text-7xl {
    font-size: 4.5rem; /* 72px */
    line-height: 1;
}	
.text-8xl {
    font-size: 6rem; /* 96px */
    line-height: 1;
}	
.text-9xl{
    font-size: 8rem; /* 128px */
    line-height: 1;
}	

.container-sm {
    max-width: 640px;
}
.container-md{
    max-width: 768px;
}
.container-lg {	
    max-width: 1024px;
}
.container-xl {	max-width: 1280px; }

@media screen and (max-width:768px) {
    .container-lg, .container-md {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding: 2rem;
    }
}

@media screen and (max-width:640px) {
    .container-lg, .container-md, .container-sm {
        width: 100%;
        overflow: hidden;
        padding: 1rem;
    }
}



.mx-auto {
    margin: 0 auto;
}
.image70{
    width: 70px;
   
}

.py-1{
    padding-top: .7rem;
    padding-bottom: 0.7rem;
}

.button-py10{
    padding: 10px 0px;
}


.image100{  
    width: 100px;
    height: 100px;
}
.image120{
    width: 120px;
   
}

.img{
    width: 100%;
    height: 100%;
}






.a-link{
    cursor: pointer;
    color: #3498DB;
    display: block;
    text-align: center;
   
}

.thank-you{
    width: 100%;
    height: calc(100vh - 500px);
}


.filename{
    display: flex;
    flex-direction: row;
}

.filename input{
    flex-basis: 100%;
}

.filename label{ 
   width: 90px;
}
.imageToUpload-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.imageToUpload{
    position: relative;
    width: 220px;
    height: 220px;
    border: 3px #ddd dashed;
}

.overlay{
    display: none;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 247, 247, 0.5);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.imageToUpload img{
    width: 200px;
    height: 200px;
}

.imageToUpload a{
    color: #dc3545;
    font-size: 20px; 
    cursor: pointer;
}





.imageToUpload-container button{
    width: 220px;   
}


/* --- margins -- */
.m-5{
    margin: 5px;
}

.m-10{
    margin: 10px;
}
.m-15{
    margin: 15px;
}
.m-20{
    margin: 20px;
}

.left-auto{
    margin-left: auto;
}


/* --- margin-top .m-t- ---*/
.mt5{
    margin-top: 5px;
}

.m-t-10{
    margin-top: 10px;
}
.m-t-15{
    margin-top: 15px;
}

.mt10{
    margin-top: 10px;
}

.mt50{
    margin-top: 50px;
}

.mt20{
    margin-top: 20px;
}

.m-t-100{
    margin-top: 100px;
}

/* --- margin-left .m-l- ---*/
.m-l-5{
    margin-left: 5px;
}

.m-l-10{
    margin-left: 10px;
}
.m-l-15{
    margin-left: 15px;
}

.m-l-20{
    margin-left: 10px;
}

.ml5{
    margin-left: 5px;
}

.ml-1{
    margin-left: 1rem;
}

.ml-2{
    margin-left: 2rem;
}
.ml-3{
    margin-left: 3rem;
}
.ml-4{
    margin-left: 4rem;
}
.mr{
    margin-right: .500rem;
}
.mr-1{
    margin-right: 1rem;
}

.mr-2{
    margin-right: 2rem;
}

.mt{
    margin-top: .500rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}

.mt-3{
    margin-top: 3rem;
}

.mt-4{
    margin-top: 4rem;
}

.mt-5{
    margin-top: 5rem !important;
}
.mt-6{
    margin-top: 6rem !important;
}
.mt-7{
    margin-top: 7rem !important;
}
.mb-0{
    margin-bottom: 0;
}

.mb{
    margin-bottom: .500rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}

.mb-3{
    margin-bottom: 3rem;
}

.mb-4{
    margin-bottom: 4rem;
}

.mb-5{
    margin-bottom: 5rem;
}
.mb-6{
    margin-bottom: 6rem;
}
.mb-7{
    margin-bottom: 7rem;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px !important;
}

.paddingbot10{
    padding-bottom: 10px;
}
.pad-1{
    padding: 1rem;
}
.pad-2{
    padding: 2rem;
}

.pad-3{
    padding: 3rem;
}

.pad-left-1{
    padding-left: 1rem;
}

.pad-left-2{
    padding-left: 2rem;
}

.pad-left-3{
    padding-left: 3rem;
}
.font-1{
    font-size: 1rem !important;
}

.font-2{
    font-size: 2rem !important;
}

.border-danger{
    border-color: #ff523b !important;
}

.validator-text{
    display: none;
    color: #ff523b;
    margin-top: 10px;
}

.show{
    display: block !important;
}


.cffffff{
    color: #ffffff;
}
.cff523b{
    color: #ff523b;
} 

.bgff523b{
    background: #ff523b;
}
.search-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  
}
.search-page h2{
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--bs-default);
}

.input-search{
    display: flex; 
    align-items: center;   
    width: 400px;
    border: 1px solid #dddddd;
    padding: 0 .3rem;
    padding-left: 0 !important;
}

.input-search input{
    border: none !important;
}
.input-search span{
    padding: 0 .3rem;
    color:var(--bs-default);
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (	max-width: 640px) {
    .search-page form{
        width: 100% !important;
    }
    .input-search{
        width: 100% !important;
    }
}


.fadeIn{
  animation: fadeIn 1s;
}



.capitalize{
    text-transform: capitalize !important;
}

.uppercase{
    text-transform: uppercase !important;
}

.lowercase {
    text-transform: lowercase !important;
}


.align-items{
    display: flex;
    align-items: center;
    justify-content: center;

}













.inline {
    display: flex;
}

.product.cart-form-group{      
    width: 150px;  
}

.product .btn-num-product-down i,
.product .btn-num-product-up i{
    font-size: 12px;
}

.variants > li{
    display: block;   
}

.variant{
    display: flex;
    flex-direction: column;
    
}

.variant ul{
    display: flex;
    margin-top: 10px;
    align-content: center;  
    padding:0;

}

.variant  ul  li{
    margin-right: 10px;
    list-style: none; 
    border: solid 1px #ddd;  
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    -webkit-transition: all .4s;  
}

.variant ul li.selected{
    border: 1px solid #ff523b; 
    
}

.variant ul li:hover{
    border-color: #ff523b;
}

.variant .attribute-name{
    width: 100px;
  
}

.variant  .attribute{
    
   min-width: 37px;
   min-height: 37px;
   color: #666;
   background-color: #fff; 
   display: flex;
   align-items: center;
   justify-content: center;
   text-transform: lowercase;
   cursor: pointer;

}

.yellow{
    background: yellow !important;
}

.blue{
    background: blue !important;
}

.red{
    background: red !important;
}






.review-wrapper{
    width: 700px;
    position: relative;
    margin: 0 auto
}
.review-list ul li{
    list-style: none;
    
}

.comment{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.comment .comment-avatar{ 
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.comment .comment-avatar img{ 
    width: 100%;
}



.comment .comment-message{
    width: calc(100% - 80px);
    margin: 0 !important;
}

.comment-user-rating{
    display: flex;
    justify-content: space-between; 
}
.comment-user p{
    font-size: 1.2rem;
    font-weight: bold;
}



.comment-action{
    width: 100%;
}

.comment-action ul {
    width: 100%;
}
.comment-action ul li{

    display: inline;
    margin-left:10px ;

}

.comment-message span{
    font-size: 1rem;
}
.comment-action form{
    display: inline !important;
}





.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

.card-heading h2 {
    font-size: 1.5rem;
}



.no-border{
    border: 0 !important;
}

.border-b-0{
    border-bottom: 0 !important;
}

.center{
    margin: 0 auto;
}
.text-sm{
    font-size: 12px;
}
.el-center {
    transform: translateX(-50%);
    margin-left: 50%;
}
.text-align-right{
    text-align: right !important;
}
.text-align-left{
    text-align: left !important;
}

.text-center{
    text-align: center !important;
}
.block{
    display: block;
}
.flex{
    display: flex !important;    
 
}
.flex-end{
    justify-content: flex-end;
}

.flex-auto{
    flex: auto;
}

.gap5{
    gap: 5px;
}
.gap10{
    gap: 10px;
}
.gap20{
    gap: 20px;
}
.gap30{
    gap: 30px;
}
.gap40{
    gap: 40px;
}

.gap50{
    gap: 50px;
}




.wrap{
    flex-wrap: wrap;
}

.nowrap{
    flex-wrap: nowrap;
}

.justify-content-flex-start{
    justify-content: flex-start;
}

.justify-content-flex-end{
    justify-content: flex-end
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.align-content-center{
    align-content:  center;
}


.align-self-strech{
    align-self: stretch;
}

.align-self-start{
    align-self: flex-start;
}
.align-self-end{
    align-self: flex-end;
}

.space-between{
    justify-content: space-between;
}

.justify-self-end{
    justify-self: flex-end;
}

.align-items-content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-center{
    justify-content: center;
    align-items: center;
}










.sm-product-name{
    font-size: 1rem;
    color: #2e2e2e;
}

.upload-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 300px;
}
.uploader{
    position: relative;
    width: 210px;
    height: 210px;
    padding: 5px;
    overflow: hidden;
    vertical-align: middle;
    border: 2px dashed #2e2e2e;
}

.uploader img{
    width: 200px;
    height: 200px;
}

.uploader span{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    background: #fff;
    border: 1px solid #ddd;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #dc3545; 
}

.input-file-container {
    position: relative;
    width: 200px;
} 
.input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
  }
.input-file {
    position: absolute;
    top: 0; left: 0;
    width: 200px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
  }
.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
    background: #34495E;
    color: #39D2B4;
}

.upload-container button{   
    width: 200px;
    padding: 13px 0;
    border: 0 !important;
    cursor: pointer;
}

.account .card:first-child{
   align-self: flex-start;
}

.account:last-child{   
    align-self: stretch;
}


.padding-left-0{
    padding-left: 0 !important;
}
 

.dropdown-wrapper{   
    position: relative;
    background-color: #eee;
}

.dropdown-input-wrapper{
    padding: 0 20px;
}

.dropdown-wrapper input
{
    border: 0;
    padding: 10px 0px;
    background-color: #eee;
}



.dropdown-list-wrapper{
    position: relative;
    width: 100%;
    display: none;
}

.dropdown-list-wrapper.open{
    display: block !important;
}

.dropdown-list-wrapper ul{
    position: absolute;
    width: 100%;
    background-color: #eee;
    display: block;
}

.dropdown-list-wrapper ul li {
    display: block;
    padding: 10px 0px;
    cursor: pointer;
   
}

.dropdown-list-wrapper ul li span {
    padding: 0px 20px;
   
}

.dropdown-list-wrapper ul li:hover {
    background-color: #f5f5f5;
   
}
.dropdown-list-wrapper ul li.fucos {
    background-color: #f5f5f5;
   
}

.pop-msg-overlay{
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 6 !important;
  /* visibility: hidden;
  opacity: 0; */
  
}

.msg-wrapper{
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  
}




.msg-content {
    max-height: 30%;
    overflow: auto;
}

.msg-icon span i{
    font-size: 3rem;
   
}
.msg-body{
    margin-top: 20px;
}

.msg-body h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.msg .title{
    margin-top: 7px;
    text-transform: uppercase;
}

.msg .message{
    margin-top: 20px;
}

.msg-body p{
    margin-top: 10px;
}

.inline-msg i{
    font-size: 2rem !important;
}

.msg-footer{
    margin-top: 30px;
}
.success .msg-icon span i,
.success .msg h2,
.success .message{ 
    color: #28a745 !important
}
.danger .msg-icon span i,
.danger .msg  h2,
.danger .message{ 
    color: #dc3545 !important;
}
.warning .msg-icon span i,
.warning .msg  h2,
.warning .message{
   color: #ffc107 !important;
   
}

.info .msg-icon span i,
.info .msg  h2,
.info .message{
    color: #0dcaf0 !important;
}
   






.msg-content .btn{
    text-transform: uppercase;
}

.flex-row{

    flex-direction: row !important;
}

.flex-column{

    flex-direction: column !important;
}



.line{
    width: 50px;
    height: 4px;
    margin-top: 10px;
    background: #eee;
}
.relative{
    position: relative;
}
.vertical-top{
    vertical-align: top !important;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.flex-vert-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tbl-column2{
    width: 55%;
}
.tbl-column3{
    width: 15%;
}
.tbl-column4{
    width: 10%;
}
.tbl-column5{
    width: 15%;
}

.hide{
    visibility: hidden;
}
.hidden{
    display: none !important;
}


  .bordered{
      border: 1px solid #eee;
  }

.tblCheckbox{
      width: 40px;
}

.txt-r{
    font-size: 14px !important;
}
.txt-sm{
    font-size: 12px !important;
}
.txt-bg{
    font-size: 24px;
}

.tr-action th {
    padding: 0px !important;
    color: #eee !important;
    font-size: 10px !important;
}

.tr-action .tr-cancel{
      margin-top: 2px;
      margin-right: 10px;
      cursor: pointer;   
      display: block;
      padding: 10px;

}
.tr-action .delete{
    cursor: pointer;
    padding: 10px;
}

.tr-action label{
    padding: 10px;
    margin-left: 12px;
    color: #fff;
}

.wishlist-action-wrapper .tbl-action{
    height: 45px;
    width: 45px;
    border-radius: 3px;
}

.tbl-action{
    /* padding: 6px 8px ; */
    display:flex;
    justify-content: center;
    align-items: center;
    height:33px;
    width: 32px;
    background: #fff;
    border: 1px solid #ddd;
    color: #555;
    cursor: pointer;
        
}

.tbl-action:hover{
    background: #eee;
}



.right-0{
    right: 0 !important;
    transition: all ease-in-out 1000ms !important;
}


.sidebar-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
 
}

.sidebar-heading p{
  font-size: 24px;
}

.sidebar-body{
    flex: 1;
}



.sidebar-footer{  
    display: flex;
    flex-direction: column;
    flex:0;  
    bottom: 40px;      
}

.sidebar-close{

    margin-top: 20px;
}


.rounded{
    width: 10px;
    height: 10px;
    border: 2px white #eee;
    border-radius: 100%;
   
}

.rounded.active{
    background-color: #23945f;
}

.step-progress-wrapper{
    display: flex;
    align-items: center;
    position: relative;   
    margin: 0 auto;
    margin-top: 5rem;
    
}
.step-circles{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.step{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 40px;
    height: 40px;
    color: #555;
    border-radius: 100%;
    background-color: #eee;
}
.step strong {
    color:  #555
}

.step.active .circle{
    color: #fff;
    background-color:  #198754 !important;
}
.step.active strong{
    color:   #198754;
}

.pointer{
    cursor: pointer;
}

.change{
    color:  #198754;
    cursor: pointer;
}


.progress-bar{
    height: 5px;
    width: calc(100% - 45px);  
    background-color: #f5f5f5;
    margin: 0px auto;
    margin-top: -25px;  
    border: 1px solid #f5f5f5;
}

.progress-bar::before{
    content: attr(data-value);
    position: absolute;    
    width: calc(var(--width, 0) * 1%);
    color: #198754;
    min-width: 0%;
    max-width: calc(100% - 45px);
    background:  #198754;
    height: 5px;

 

}


.bold{
    font-weight: bold;
}


.link:hover{
    text-decoration: underline;
}

.credit-card{
    width: 100%;
    padding: 0;
    border: 1px solid #eee;
}

.credit-card-header{
    display: flex;
    padding: 0 20px;
    justify-content: space-between; 
    align-items: center;
    background-color: #f6f6f6;
    min-height: 40px;
    border-bottom: 1px solid #eee;
}

.credit-card-body{
    padding: 20px;
}

.pagination-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pagination  li a{
    padding: 5px 10px;
    font-size: .8rem;
    background-color: #eee;
    border: 1px solid #eee;
}
.pagination li:hover a{
    background-color: #212529;
    color: #fff;
    border-color: #212529;
    
}
.pagination li.active a{
    background-color: #212529;
    color: #fff;
    border-color: #212529;
    
}

.error-message{
    color: var(--bs-danger);
}


.thumbnails{
    display: flex;
    flex-direction: column;
}

.thumbnail{
    width: 70px;  
}
.thumbnail img{
    width: 100%;
}

.main-image-wrapper{
    padding-left: 10px;
    width: 500px;
}
.main-image img{
    width: 100%;
}


.fa-toggle-on{
    color:  var(--bs-success);
}

.fa-toggle-off{
    color:  var(--bs-gray);
}
.borderless{
    padding: 0!important;
    background: transparent !important;
    border: 0 !important;
}
button .fa-toggle-on, 
button .fa-toggle-off,
span .fa-toggle-off,
span .fa-toggle-on{
    font-size: 2rem;
}

.splide-feature-product .items{
    width: 100% !important;    
}
.collection .splide__arrow{
    transform: translateY(calc(-50% + 2rem)) !important;
}

.splide__pagination{
   bottom: -2rem !important;
}
.splide__pagination__page{
    background-color: (--bs-gray) !important;
}
.splide__pagination__page.is-active {
    background: var(--bs-dark) !important;
    transform: scale(1.4);
    z-index: 1;
}



.mt-auto{
    margin-top: auto;
}
.ml-auto{
    margin-left: auto;
}






@media  screen and (max-width:768px) {
    .sm-flex-row{
        flex-direction: row !important;
    }

    .sm-flex-column {
        flex-direction: column !important;
    }
    .sm-space-between{
        justify-content: space-between;
    }

    .sm-justify-end{
        justify-content: flex-end;
    }
    .sm-justify-center{
        justify-content: center;
    }
    .sm-justify-start{
        justify-content: start;
    }
    .md-hidden{
        display: block !important;
    }
    .sm-width-full {
        width: 100% !important;
    }

    .sm-w-12{
        width: 100% !important;
    }

    .profile .form-block{
        width: 100% !important;
    }

    .sm-hidden{
        display: none !important;
    }

    .sm-text-center{
        display: block !important;
        text-align: center !important;
    }
    .sm-text-right{
        display: block !important;
        text-align: right !important;
    }

    #btn-continue,
    #btn-to-payment,
    #paynow{
        width: 100% !important;
        margin-bottom: 1rem;
    }

    .sm-visible{
        display: block;
    }
}


.flex-btn-form{
    display: flex;
    gap: 1rem;
}

.flex-btn-form .btn{
    width: calc((100% / 2) - 1rem);
}

.full-width{
    width: 100%;
}


.inline-form-group{
    width: 100%;
    display: flex;
}

.inline-form-group input{
   border: 0 !important;
}
.input-custom{    
    outline: none;
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

input.card::placeholder{
    color: var(--bs-red);
}
 
.inbox-message-item{
   padding: 1rem; 
   background-color: #eee;
}
 
.logo{
    width: 90px;
    height: 90px;
}
.logo img{
    width: 100%;
    height: 100%;
}