.ctheme { color: #ff523b !important;}
.cblue { color: #0d6efd; }
.cindigo { color:#6610f2; }
.cpurple { color: #6f42c1; }
.cpink { color: #d63384;}
.cred { color : #dc3545;}
.corange{ color : #fd7e14 }
.cyellow { color: #ffc107;}
.cgreen { color:  #198754; }
.cteal { color: #20c997; }
.ccyan { color : #0dcaf0;}
.cwhite {color: #fff;}
.cgray {color: #6c757d;}
.cgray-dark{color: #343a40;}
.cprimary { color: #0d6efd;}
.csecondary {color : #6c757d}
.csuccess {color: #198754;}
.cinfo{ color :#0dcaf0;}
.cwarning {color:#ffc107}
.cdanger{color : #dc3545}
.clight {color: #f8f9fa}
.cdark {color : #212529}