.sidebar{
   width: 100%;
   background: #6c757d !important;
   position: relative;
}



.sidebar-menu{
    background: #fff;
}

.sidebar-menu ul{
    display: block;
    
}

.sidebar-menu ul li{
   display: block;
   list-style: none;
}

.sidebar-menu ul li a{
    display: block;
    font-size: 16px;
    font-weight: 300;
    color:#666;
    padding:20px;
}

.sidebar-menu ul li a:hover{
    color: #6c757d  !important;
    background:  #f5f5f5;
}

.sidebar-menu ul li a span{
    margin-right: 10px;
}
.sidebar-menu ul li a.active{
    color: #6c757d  !important;
    background:  #f5f5f5;

}

.min-height-400{
    min-height: 400px;
}

